{% extends "./base.html" %}

{% block title %} Inicio {% endblock title %}

{% block content %}

<style>
    .homeButtons {
        display: flex;
        justify-content: space-around;
    }
</style>

<h1>Inicio</h1>
<div class="homeButtons">
    <a href="{% url 'Incomes:ingresos_form' %}"><button class="btn btn-light">Registrar un ingreso 💰💵</button></a>
    <a href="{% url 'Incomes:residentes' %}"><button class="btn btn-light">Ver Residentes 👵 🧓 👴</button></a>
</div>
{% endblock content %}

{% block footer %}
<script>
    document.getElementById('back').remove();
</script>
{% endblock footer %}