{% extends "./base.html" %}

{% block title %} Nuevo ingreso {% endblock title %}

{% block content %}

<h1>Nuevo ingreso</h1>


<!-- Modal de confirmación -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="exampleModalLabel">Confirmación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="mensajeModal">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <!-- Botón de confirmación en el modal -->
                <button type="submit" class="btn btn-success" onclick="submitForm()">
                    <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true" style="display: none;"></span>
                    Confirmar
                </button>
            </div>
        </div>
    </div>
</div>

<form method="POST" action="{% url 'Incomes:ingresos_form' %}" id="myForm">
    {% csrf_token %}
    {{ form.as_p }}
    <!-- Botón para abrir el modal de confirmación -->
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#confirmModal" onclick="llenarModal()">
        Cargar
    </button>
</form>

<!-- Script para enviar el formulario cuando se hace clic en el botón "Confirmar" en el modal -->
<script>
function submitForm() {
    // Mostrar el spinner
    document.querySelector('.spinner-border').style.display = 'inline-block';
    
    // Deshabilitar el botón de confirmación para evitar envíos múltiples
    document.querySelector('.btn-success').setAttribute('disabled', 'true');
    
    // Enviar el formulario
    document.getElementById('myForm').submit();
}
</script>

<script>
    const formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency : 'USD',
    }
    )

    function llenarModal() {
        // Obtener los valores de los campos del formulario
        var fecha = document.getElementById('id_fecha').value;
        var residente = document.getElementById('id_residente').options[document.getElementById('id_residente').selectedIndex].text;
        var ingreso = formatter.format(document.getElementById('id_ingreso').value);
        var mes = document.getElementById('id_mes').value;
        var anio = document.getElementById('id_anio').value;
        console.log(mes);
        // Construir el mensaje del modal
        var mensaje = `Vas a generar un recibo a nombre de ${residente} por el valor de ${ingreso} con fecha ${fecha} que se imputará el mes ${mes} del año ${anio}`;
    
        // Actualizar el contenido del mensaje en el modal
        document.getElementById('mensajeModal').textContent = mensaje;
    }

    </script>
    

{% endblock content %}
