{% extends "./base.html" %}

{% block title %} Nuevo ingreso {% endblock title %}

{% block content %}

<h1>Nuevo ingreso</h1>


<!-- Modal de confirmación -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="exampleModalLabel">Confirmación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="mensajeModal">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <!-- Botón de confirmación en el modal -->
                <button type="submit" class="btn btn-success" onclick="submitForm()">
                    <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true" style="display: none;"></span>
                    Confirmar
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <form action="{% url 'Incomes:ingresos_form' %}" method="post" id="myForm">
    {% csrf_token %}
        <div class="row">
            <div class="col-2">
                <label for="fecha" class="form-label">Fecha:</label>
            </div>
            <div class="col-8">
                <input type="date" class="form-control" id="fecha" name="fecha" value="{{ fecha|default:hoy|date:'Y-m-d' }}" >
            </div>
        </div><br>
        <div class="row">
            <div class="col-2">
                <label for="residente" class="form-label">Residente:</label>
            </div>
            <div class="col-8">
                <select class="form-select" id="residente" name="residente">
                    {% for residente in residentes %}
                    <option value="{{ residente.pk }}">{{residente}}</option>
                    {% endfor %}
                </select>
            </div>
        </div><br>
        <div class="row">
            <div class="col-2">
                <label for="monto" class="form-label">Monto:</label>
            </div>
            <div class="col-8">
                <input type="text" class="form-control" id="monto" name="monto" onblur="formatear(this)">
            </div>
        </div><br>
        <div class="row">
            <div class="col-2">
                <label for="mes" class="form-label">Mes:</label>
            </div>
            <div class="col-8">
                <input class="form-control" id="mes" name="mes" type="number" value="{{ mes }}">
            </div>
        </div><br>
        <div class="row">
            <div class="col-2">
                <label for="anio" class="form-label">Año:</label>
            </div>
            <div class="col-8">
                <input class="form-control" id="anio" name="anio" type="number" value="{{ anio }}">
            </div>
        </div><br>
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#confirmModal" onclick="llenarModal()">
            Cargar
        </button>
    </form>
</div>

<!-- Script para enviar el formulario cuando se hace clic en el botón "Confirmar" en el modal -->
<script>
function submitForm() {
    // Mostrar el spinner
    document.querySelector('.spinner-border').style.display = 'inline-block';
    
    // Deshabilitar el botón de confirmación para evitar envíos múltiples
    document.querySelector('.btn-success').setAttribute('disabled', 'true');
    
    var montoField = document.getElementById('monto');
    var montoValue = parseFloat(montoField.value.replace(/[^0-9.-]+/g, '').replace('.', ''))/100;
    montoField.value = montoValue;
    // Enviar el formulario
    document.getElementById('myForm').submit();
}
</script>

<script>
    const formatter = new Intl.NumberFormat('es-AR', {
        style: 'currency',
        currency : 'ARS',
    }
    )
    
    function formatear(input) {
    if (input.value !== '') {
        var monto = parseFloat(input.value.replace(/[^0-9.-]+/g, "")); // Eliminar caracteres no numéricos
        input.value = formatter.format(monto);
    }}

    function llenarModal() {
        // Obtener los valores de los campos del formulario
        var fecha = document.getElementById('fecha').value;
        var residente = document.getElementById('residente').options[document.getElementById('residente').selectedIndex].text;
        var monto = document.getElementById('monto').value;
        var mes = document.getElementById('mes').value;
        var anio = document.getElementById('anio').value;
        console.log(mes);
        // Construir el mensaje del modal
        var mensaje = `Vas a generar un recibo a nombre de ${residente} por el valor de ${monto} con fecha ${fecha} que se imputará el mes ${mes} del año ${anio}`;
        
        // Actualizar el contenido del mensaje en el modal
        document.getElementById('mensajeModal').textContent = mensaje;
    }

    </script>
    
    
    {% endblock content %}
