{% extends "./base.html" %}

{% block title %} Residentes {% endblock title %}

{% block content %}

<h1>Residentes</h1>

<!-- Modal de confirmación -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="exampleModalLabel">Eliminar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="mensajeModal">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <!-- Botón de confirmación en el modal -->
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmModal" data-href="eliminar/{{ residente.pk }}" >
                    Si, deseo eliminar
                </button>
            </div>
        </div>
    </div>
</div>

<a name="" id="" class="btn btn-primary btn-sm" href="{% url 'Incomes:residentes-crear' %}" role="button">Agregar nuevo ➕</a>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Residente</th>
                <th scope="col">Cuota</th>
                <th scope="col">Ultima actualizacion</th>
                <th scope="col">Acciones</th>

            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for residente in residentes %}
            <tr class="">
                <td scope="row">{{residente}}</td>
                <td class="monto">{{residente.cuota.precio}}</td>
                <td>{{residente.cuota.ultima_actualizacion|date:'d-m-Y'}}</td>
                <td>
                    <a name="" id="" class="btn btn-warning btn-sm" href="actualizar/{{ residente.pk }}" role="button">
                        Actualizar 🛠
                    </a>
                    <a 
                        name="" 
                        id="" 
                        class="btn btn-danger btn-sm" 
                        role="button"
                        data-bs-toggle="modal" 
                        data-bs-target="#confirmModal" 
                        onclick="llenarModal('{{residente.apellido}}', '{{residente.nombre}}')">
                        Eliminar 💀
                    </a>
                    <a name="" id="" class="btn btn-secondary btn-sm" href="cuota/{{ residente.pk }}" role="button" >
                        Modificar cuota
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function formatMonto() {
        const formatter = new Intl.NumberFormat('es-AR', {
            style: 'currency',
            currency: 'ARS'
        });

        const montoElements = document.querySelectorAll('.monto');

        montoElements.forEach(function (element) {
            const montoValue = parseFloat(element.textContent);
            element.textContent = formatter.format(montoValue);
        });
    }

    document.addEventListener('DOMContentLoaded', formatMonto);


    function llenarModal(apellido, nombre){
        var mensaje = `Está a punto de eliminar a ${apellido}, ${nombre}. \n ESTA ACCION PUEDE SER REVERTIDA SOLO POR EL ADMINISTRADOR`;
        document.getElementById('mensajeModal').textContent = mensaje;
    }
</script>

{% endblock content %}